@page
@model WebApp.Pages.Notesheets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notesheet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notesheet.ReferenceNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notesheet.ReferenceNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notesheet.PackageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notesheet.PackageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notesheet.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notesheet.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notesheet.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notesheet.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notesheet.ScopeOfWork)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notesheet.ScopeOfWork)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notesheet.Technical_Specification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notesheet.Technical_Specification)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notesheet.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notesheet.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notesheet.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notesheet.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notesheet.LastModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notesheet.LastModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notesheet.LastModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notesheet.LastModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Notesheet.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
